<div class="bg-white border">
  <div class="row">
    <div class="col-lg-8">
      <ap-photo></ap-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">?????</p>
        <hr>
      </small>
      <div class="mt-4">

        <form>
          <div class="input-group">
            <textarea class="form-control"></textarea>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary pull-left">
                Publish
              </button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- col-md-4 -->
  </div><!-- row end -->
</div>
